<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.TestBaseTG</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CMSSendsNOTIFICACION</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSPremiosTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSTraduccionesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSPremiosCrear</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>idioma</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSDesactivarTorneo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LogIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CSGOPRIVADO</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>desactivarTorneo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>crearEquipo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MisEquipos</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSEditaTorneo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSTutorialesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSAsociacionR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSpermisos</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>activarTorneo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMScrearMisiones</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>seccionEquipos</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>noticiaspopulares</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSTorneo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSAsignarRolaUsuario</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CrearTorneoPremium</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSTutorialesCrearTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EquipoPorJuego</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSNuevaMIsion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSTutorialesEditarTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EditarCuenta</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>UnirmeEquipo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSPremiosEditar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSEliminaTorneo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>OfflineTournaments</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CrearTorneoFree</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSReqUsuario</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSTempCrearRanking</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GenerarCodigoReferidos</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSpermisosEliminar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>consultaTorneo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Consultamisiones</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSUsuarioEditar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSPremiosEliminar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ConsultaRankingTG</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSEliminarMisiones</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>misiones</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CSGOLOBBY</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSNewsCrear</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSTemporadasTG</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSNewsEditar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>OfflineRanking</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSNews</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NoticiasRanking</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MisTorneos</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>noticiasrecientes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSLoginAsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CSGOPUBLICO</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>OfflineChallenges</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSpermisosEditar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>HacerPremiumLaCuenta</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSActivarTorneo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EliminarTorneo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EliminarMisiones</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Inicio</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSMENU</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSPAYPALLSUSEDITAR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSTempEliminar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>crearMisiones</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSRolesEditar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSNewsEliminar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSCreaTorneo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSPAYPALLSUSCREAR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MiPerfil</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>administrarPartida</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSRolesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSRolesCrear</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EliminaEquipo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>rankingTG</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSGraceDayTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSpermisosCrear</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSTutorialesEliminarTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSNOTIFICACION</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSPAYPALLSUS</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSLoadDashboard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>editarTorneo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>noticias</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LogOut</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSPAYPALLSUSELIMINAR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSTempSubBaj</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSGraceDayCrear</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Torneos</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSUsuarioTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSLISTNOT</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>IngresoAmbiente</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>IrHome</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CloseChrome</td>
<td>&nbsp;</td></tr>
</table>
