<h2>Methods that were not run</h2><table>
<tr><td>test.TestBaseTG.CMSPAYPALLSUS</td></tr>
<tr><td>test.TestBaseTG.CMSpermisosCrear</td></tr>
<tr><td>test.TestBaseTG.CMSTutorialesEliminarTest</td></tr>
<tr><td>test.TestBaseTG.CMSNOTIFICACION</td></tr>
<tr><td>test.TestBaseTG.rankingTG</td></tr>
<tr><td>test.TestBaseTG.CMSGraceDayTest</td></tr>
<tr><td>test.TestBaseTG.EliminaEquipo</td></tr>
<tr><td>test.TestBaseTG.Torneos</td></tr>
<tr><td>test.TestBaseTG.CMSLoadDashboard</td></tr>
<tr><td>test.TestBaseTG.CMSUsuarioTest</td></tr>
<tr><td>test.TestBaseTG.CMSLISTNOT</td></tr>
<tr><td>test.TestBaseTG.CMSPAYPALLSUSELIMINAR</td></tr>
<tr><td>test.TestBaseTG.CMSTempSubBaj</td></tr>
<tr><td>test.TestBaseTG.CMSGraceDayCrear</td></tr>
<tr><td>test.TestBaseTG.LogOut</td></tr>
<tr><td>test.TestBaseTG.editarTorneo</td></tr>
<tr><td>test.TestBaseTG.noticias</td></tr>
<tr><td>test.TestBaseTG.HacerPremiumLaCuenta</td></tr>
<tr><td>test.TestBaseTG.CSGOPUBLICO</td></tr>
<tr><td>test.TestBaseTG.CMSpermisosEditar</td></tr>
<tr><td>test.TestBaseTG.CMSNewsEliminar</td></tr>
<tr><td>test.TestBaseTG.OfflineChallenges</td></tr>
<tr><td>test.TestBaseTG.noticiasrecientes</td></tr>
<tr><td>test.TestBaseTG.MisTorneos</td></tr>
<tr><td>test.TestBaseTG.CMSLoginAsTest</td></tr>
<tr><td>test.TestBaseTG.CMSNews</td></tr>
<tr><td>test.TestBaseTG.NoticiasRanking</td></tr>
<tr><td>test.TestBaseTG.administrarPartida</td></tr>
<tr><td>test.TestBaseTG.CMSPAYPALLSUSCREAR</td></tr>
<tr><td>test.TestBaseTG.MiPerfil</td></tr>
<tr><td>test.TestBaseTG.CMSRolesCrear</td></tr>
<tr><td>test.TestBaseTG.Inicio</td></tr>
<tr><td>test.TestBaseTG.CMSRolesTest</td></tr>
<tr><td>test.TestBaseTG.CMSMENU</td></tr>
<tr><td>test.TestBaseTG.CMSRolesEditar</td></tr>
<tr><td>test.TestBaseTG.CMSPAYPALLSUSEDITAR</td></tr>
<tr><td>test.TestBaseTG.CMSTempEliminar</td></tr>
<tr><td>test.TestBaseTG.crearMisiones</td></tr>
<tr><td>test.TestBaseTG.CMSCreaTorneo</td></tr>
<tr><td>test.TestBaseTG.CMSActivarTorneo</td></tr>
<tr><td>test.TestBaseTG.EliminarTorneo</td></tr>
<tr><td>test.TestBaseTG.EliminarMisiones</td></tr>
<tr><td>test.TestBaseTG.CrearTorneoFree</td></tr>
<tr><td>test.TestBaseTG.CMSEliminaTorneo</td></tr>
<tr><td>test.TestBaseTG.CMSTempCrearRanking</td></tr>
<tr><td>test.TestBaseTG.CMSPremiosEditar</td></tr>
<tr><td>test.TestBaseTG.CMSReqUsuario</td></tr>
<tr><td>test.TestBaseTG.OfflineTournaments</td></tr>
<tr><td>test.TestBaseTG.CMSNuevaMIsion</td></tr>
<tr><td>test.TestBaseTG.CMSTutorialesEditarTest</td></tr>
<tr><td>test.TestBaseTG.EditarCuenta</td></tr>
<tr><td>test.TestBaseTG.EquipoPorJuego</td></tr>
<tr><td>test.TestBaseTG.UnirmeEquipo</td></tr>
<tr><td>test.TestBaseTG.CMSNewsEditar</td></tr>
<tr><td>test.TestBaseTG.OfflineRanking</td></tr>
<tr><td>test.TestBaseTG.CMSTemporadasTG</td></tr>
<tr><td>test.TestBaseTG.CSGOLOBBY</td></tr>
<tr><td>test.TestBaseTG.CMSNewsCrear</td></tr>
<tr><td>test.TestBaseTG.misiones</td></tr>
<tr><td>test.TestBaseTG.CMSPremiosCrear</td></tr>
<tr><td>test.TestBaseTG.consultaTorneo</td></tr>
<tr><td>test.TestBaseTG.Consultamisiones</td></tr>
<tr><td>test.TestBaseTG.CMSUsuarioEditar</td></tr>
<tr><td>test.TestBaseTG.ConsultaRankingTG</td></tr>
<tr><td>test.TestBaseTG.CMSPremiosEliminar</td></tr>
<tr><td>test.TestBaseTG.GenerarCodigoReferidos</td></tr>
<tr><td>test.TestBaseTG.CMSEliminarMisiones</td></tr>
<tr><td>test.TestBaseTG.CMSpermisosEliminar</td></tr>
<tr><td>test.TestBaseTG.LogIn</td></tr>
<tr><td>test.TestBaseTG.CMSEditaTorneo</td></tr>
<tr><td>test.TestBaseTG.desactivarTorneo</td></tr>
<tr><td>test.TestBaseTG.CMSDesactivarTorneo</td></tr>
<tr><td>test.TestBaseTG.idioma</td></tr>
<tr><td>test.TestBaseTG.CSGOPRIVADO</td></tr>
<tr><td>test.TestBaseTG.CMScrearMisiones</td></tr>
<tr><td>test.TestBaseTG.CMSSendsNOTIFICACION</td></tr>
<tr><td>test.TestBaseTG.CMSPremiosTest</td></tr>
<tr><td>test.TestBaseTG.CrearTorneoPremium</td></tr>
<tr><td>test.TestBaseTG.noticiaspopulares</td></tr>
<tr><td>test.TestBaseTG.CMSTutorialesCrearTest</td></tr>
<tr><td>test.TestBaseTG.seccionEquipos</td></tr>
<tr><td>test.TestBaseTG.CMSTorneo</td></tr>
<tr><td>test.TestBaseTG.CMSAsignarRolaUsuario</td></tr>
<tr><td>test.TestBaseTG.CMSTraduccionesTest</td></tr>
<tr><td>test.TestBaseTG.MisEquipos</td></tr>
<tr><td>test.TestBaseTG.CMSpermisos</td></tr>
<tr><td>test.TestBaseTG.CMSTutorialesTest</td></tr>
<tr><td>test.TestBaseTG.activarTorneo</td></tr>
<tr><td>test.TestBaseTG.CMSAsociacionR</td></tr>
</table>