<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90c9c3">  <td>19/08/22 12:30:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseTG.CloseChrome()[pri:0, instance:test.TestBaseTG@66a3ffec]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/08/22 12:29:36</td>   <td>-56635</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseTG.IngresoAmbiente()[pri:0, instance:test.TestBaseTG@66a3ffec]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/08/22 12:30:30</td>   <td>-2704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseTG.IrHome(org.testng.ITestResult)[pri:0, instance:test.TestBaseTG@66a3ffec]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/08/22 12:29:47</td>   <td>-45108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBaseTG.crearEquipo()[pri:18, instance:test.TestBaseTG@66a3ffec]">crearEquipo</td> 
  <td>main@1164371389</td>   <td></td> </tr>
</table>
